$color-grey: #CCC;
$color-grey-02: #455A64;
$color-grey-03: #607d8b;
$color-grey-04: #f5f5f5;
$color-black: #000;

$border-color: $color-grey;

$header-height: 64px;
$sidenav-width: 260px;
$aside-nav-width: 180px;
$text-color: $color-grey-03;
