<mat-toolbar color="primary">
  <mat-toolbar-row>
    <header id="header">
      <strong class="logo">
        <a routerLink="" aria-label="MetaUI logo">metaUI</a>
      </strong>

      <ul class="socials">
        <li>
          <a href="https://github.com/ngx-meta/rules" aria-label="MetaUI on github">
            <mat-icon>github</mat-icon>
          </a>
        </li>

        <li>
          <a href="https://twitter.com/metauiframework" aria-label="MetaUI on twitter">
            <mat-icon></mat-icon>
          </a>
        </li>
      </ul>
    </header>
  </mat-toolbar-row>
</mat-toolbar>
