@import "styles/variables";

#wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
}
#main {
  flex: 1;

  .sidenav {
    position: fixed;
    left: 0;
    bottom: 0;
    top: $header-height + 1px;
    width: $sidenav-width;
    overflow-y: auto;
  }
}
/* mat-sidenav-container */
.mat-sidenav-container {
  height: 100%;
}
/* mat-sidenav-content */
.mat-sidenav-content {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
/* content */
#content {
  flex: 1;
  flex-flow: row nowrap;
  display: flex;
}
/* content-holder */
.content-holder {
  flex: 0 1 100%;
  padding: 0 30px 50px;
}
/* aside-nav */
.aside-nav {
  flex: 0 0 180px;
}

