<section id="wrapper">
  <app-header (navBtnClick)="navMenuToggle()"></app-header>

  <mat-sidenav-container id="main">
    <mat-sidenav
      [opened]="navMenuState"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      disableClose
      class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <section id="content">
        <div class="content-holder">
          <router-outlet></router-outlet>
        </div>

        <aside [hidden]="mobileQuery.matches" class="aside-nav">
          <app-aside-nav></app-aside-nav>
        </aside>
      </section>

      <app-footer></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</section>
