<section id="wrapper">
  <app-header></app-header>

  <mat-sidenav-container id="main">
    <mat-sidenav opened mode="side" class="sidenav">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content>
      <section id="content">
        <div class="content-holder">
          <router-outlet></router-outlet>
        </div>

        <aside class="aside-nav">
          <app-section-nav></app-section-nav>
        </aside>
      </section>

      <app-footer></app-footer>
    </mat-sidenav-content>

  </mat-sidenav-container>
</section>
