@import "styles/variables";

#wrapper {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  min-width: 320px;
}
#main {
  flex: 1;

  .sidenav {
    position: fixed;
    left: 0;
    bottom: 0;
    top: $header-height + 1px;
    width: $sidenav-width;
    overflow-y: auto;
  }
}
/* mat-sidenav-container */
.mat-sidenav-container {
  height: 100%;
}
/* aside-nav */
.aside-nav {
  flex: 0 0 $aside-nav-width;
}
/* content */
#content {
  flex-flow: row nowrap;
  display: flex;
}
/* content-holder */
.content-holder {
  padding: 0 30px 50px;
  box-sizing: border-box;
  overflow: hidden;
}

