@import "app/styles/variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  color: $color-black;
  font-family: 'Source Sans Pro', sans-serif;
}

app-markdown {
  img {
    max-width: 100%;
  }

  ul {
    li {
      padding: 4px 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    color: $color-black;
    font-weight: 600;
    margin: 20px 0;
  }

  h1 {
    font-size: 34px;
    line-height: 40px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 28px;
    line-height: 34px;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 20px;
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  h5 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 16px;
  }

  h6 {
    font-size: 16px;
    line-height: 22px;
    margin-top: 20px;
    margin-bottom: 16px;
  }
}

a {
  color: $color-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.6;
}

@font-face {
  font-family: 'Googlesans';
  src: url('https://uploads-ssl.webflow.com/5c7fcabb4e3feec5add934f2/5c7fcf0a76e5a33706ad7579_GoogleSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Googlesans';
  src: url('https://uploads-ssl.webflow.com/5c7fcabb4e3feec5add934f2/5c7fcf0a76e5a327a6ad757a_GoogleSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
